.wrap {
    background: #e2edff;
}

.bg-range {
    background: #e2edff;
    border-radius: 10px;
    text-align: center;
}


.html {
    width: 90%;
    background-color: #0d6efd;
    border-radius: 10px;
    color: white;
}

.css {
    width: 70%;
    background-color: #0d6efd;
    border-radius: 10px;
    color: white;
}

.js {
    width: 40%;
    background-color: #0d6efd;
    border-radius: 10px;
    color: white;

}

.php {
    width: 60%;
    background-color: #0d6efd;
    border-radius: 10px;
    color: white;

}

.laravel {
    width: 70%;
    background-color: #0d6efd;
    border-radius: 10px;
    color: white;

}

.vue {
    width: 30%;
    background-color: #0d6efd;
    border-radius: 10px;
    color: white;

}

/* footer {
    background-color: #e2edff;

} */

footer p {
    color: black;
}

footer a {
    color: black;
    font-size: 30px;
}

footer a:hover {
    color: white;
}